@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adding a custom global dark background to prevent any white flashes */
body {
  background-color: #0a0f18; 
  margin: 0;
  overflow-x: hidden;
}